In [1]:
### re --->> module
### search
### match
###findall
### sub
### compile
import re 
seq = "anjan kumar python trainer"
print re.search('kumar',seq)
print re.search('kumar',seq).group()

<_sre.SRE_Match object at 0x00000000051245E0>
kumar

In [1]:
import re 
seq = "anjan kumar python trainer"
print re.search('kumar1',seq)
print re.search('kumar1',seq).group()

None

AttributeError: 'NoneType' object has no attribute 'group'

In [2]:
import re 
seq = "anjan kumar python trainer"
print re.match('kumar',seq)
print re.match('kumar',seq).group()

None

AttributeError: 'NoneType' object has no attribute 'group'

In [3]:
import re 
seq = "anjan kumar python trainer"
print re.match('anjan',seq)
print re.match('anjan',seq).group()

<_sre.SRE_Match object at 0x000000000540A5E0>
anjan

In [4]:
import re 
seq = "anjan kumar python kumar trainer kumar"
print re.findall('kumar',seq)

['kumar', 'kumar', 'kumar']

In [5]:
import re 
seq = "anjan kumar python trainer"
print re.sub('kumar','',seq)

anjan  python trainer

In [6]:
import re 
seq = "anjan kumar python trainer"
ptr = re.compile('kumar')
print ptr.search(seq)
print ptr.match(seq)
print ptr.findall(seq)
print ptr.sub('KUMAR',seq)

<_sre.SRE_Match object at 0x000000000540A8B8>
None
['kumar']
anjan KUMAR python trainer

In [9]:
# special characters
#  . ---> to match the any single character(alphabets , digits , special character)
import re
seq = "q an  jf2n dddf@n dk n "
print re.findall('.n',seq)

['an', '2n', '@n', ' n']

In [11]:
# special characters
#  \d ---> to match the single digit
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\dn',seq)

['2n', '4n']

In [12]:
# special characters
#  \D ---> to match the any single character except digit
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\Dn',seq)

['an', '@n', ' n']

In [13]:
# special characters
#  \w ---> to match the single character( only alphabets and digits )
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\wn',seq)

['an', '2n', '4n']

In [14]:
# special characters
#  \W ---> to match the single character( only special character )
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\Wn',seq)

['@n', ' n']

In [15]:
# special characters
#  \s ---> to match the single space
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\sn',seq)

[' n']

In [16]:
# special characters
#  \S ---> to match the  any single characters except space
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('\Sn',seq)

['an', '2n', '@n', '4n']

In [17]:
# special characters
#  [some group of characters] ---> to match the single character from group of character
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('[2 @]n',seq)

['2n', '@n', ' n']

In [19]:
# special characters
#  [some group of characters] ---> to match the single character from group of character
import re
seq = "q an  jf2n dddf@n dk n 424n "
print re.findall('[0-9a-zA-Z~ !@#$%^&*()]n',seq)

['an', '2n', '@n', ' n', '4n']

In [20]:
# special characters
#  {n} -->> preceeding character repeats n times 
import re
seq = "q aaaaan  jfaaaan dddfaan dk n 424an "
print re.findall('a{2}n',seq)

['aan', 'aan', 'aan']

In [23]:
# special characters
#  {m,n} -->> preceeding character repeats in between m and  n times 
import re
seq = "q aaaaan  jfaaaan dddfaaan dk n 424aan an"
print re.findall('a{2,4}n',seq)

['aaaan', 'aaaan', 'aaan', 'aan']

In [24]:
# special characters
#  * -->> preceeding character repeats 0 or more than 0 
import re
seq = "q aaaaan  jfaaaan dddfaan dk n 424an "
print re.findall('a*n',seq)

['aaaaan', 'aaaan', 'aan', 'n', 'an']

In [25]:
# special characters
#  + -->> preceeding character repeats 1 or more than 1
import re
seq = "q aaaaan  jfaaaan dddfaan dk n 424an "
print re.findall('a+n',seq)

['aaaaan', 'aaaan', 'aan', 'an']

In [26]:
# special characters
#  ? -->> preceeding character repeats 0 or 1 time
import re
seq = "q aaaaan  jfaaaan dddfaan dk n 424an "
print re.findall('a?n',seq)

['an', 'an', 'an', 'n', 'an']

In [ ]:
# Tast1 : wap create a file and store 5 line of data --->> sample.txt
# Task2 : from sample.txt access all emails and phone nummber 
# Task3 : The result of Tast2  ( email & phone ) write into new file --> email.txt